.single {
    margin-top: 90px;
    max-width: 635px;
    &__content {
        margin-top: 30px;

        b {
            font-weight: bold;
        }

        p {
            font-size: 14px;
            line-height: 150%;
            color: #6c6c6c;
            margin-bottom: 19px;
        }

        a {
            color: #aeaeae;
            transition: all 0.5s;
            font-weight: bold;

            &:hover {
                color: #0f1c33;
            }
        }

        h5,
        h4,
        h3,
        h2,
        h1 {
            font-weight: bold;
            margin-bottom: 25px;
            color: #0f1c33;
        }

        h5 {
            font-size: 18;
        }

        h4 {
            font-size: 20px;
        }

        h3 {
            font-size: 22px;
        }

        h2 {
            font-size: 24px;
        }

        ul {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        ul li {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #555555;
            display: block;
            margin-top: 9px;
            padding-left: 23px;
            position: relative;
            &:before {
                left: 0px;
                width: 6px;
                height: 6px;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                content: "";
                border-radius: 100%;
                background: #1b3663;
            }
        }

        img {
            width: 100%;
            display: block;
            object-fit: contain;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}
.single-title {
    text-align: center;
}
