@import "normalize";
@import "main";
@import "anims";
@import "single";
@import "work";

.burger__container {
    display: none;
}

.header {
    background: #fff;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
        height: 95px;
    }

    &__phone {
        a {
            position: relative;
            padding-left: 30px;
            &:after {
                left: 0;
                position: absolute;
                top: calc(50% - 1.5px);
                transform: translateY(-50%);
                content: "";
                width: 20px;
                height: 20px;
                background: url(../img/phone-header.svg);
            }
        }
    }

    &__logo {
        a,
        img {
            display: block;
        }
        max-width: 220px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        width: calc(100% - 230px);
        ul {
            align-items: center;
            display: flex;
        }

        li a {
            font-weight: 600;
            color: #000;
            font-size: 14px;
            width: max-content;
            display: block;
            line-height: 17px;
            margin-left: 34px;
            transition: all 0.5s;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                width: 100%;
                left: 0;
                right: 0;
                width: 0;
                height: 1px;
                background: #1b3663;
                bottom: -3px;
                transition: all 0.9s;
            }
            &:hover::before {
padding-right: 100%;
            }
            &:hover {
                color: #1b3663;
            }
        }

        li:first-child a {
            margin-left: 0;
        }
    }
}

.services {
    margin-top: 90px;
    &__wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(33% - 20px);
        padding: 30px;
        margin-top: 30px;
        transition: all 0.5s;
        &:hover {
            background: var(--main-color);
            .services__item-title,
            .services__link {
                color: #fff;
            }

            .services__text {
                color: #fadcd3;
            }
        }
    }

    &__place {
        width: 62px;
        height: 62px;
        background: #a5bbe0;
        border-radius: 3px;
    }

    &__item-title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #212121;
        transition: all 0.5s;
    }

    &__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 150%;
        color: #6c6c6c;
        transition: all 0.5s;
    }

    &__link {
        transition: all 0.5s;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        display: block;
        text-decoration-line: underline;
        margin-top: 15px;
        color: #212121;
    }

    &__link-all {
        font-weight: 800;
        font-size: 14px;
        line-height: 100%;
        text-align: right;
        text-transform: uppercase;
        color: var(--main-color);
        display: flex;
        width: max-content;
        margin: 40px 0 0 auto;
        transition: all .5s;
        svg {
            margin-left: 6px;
            path {
                transition: all .5s;
            }
        }

        &:hover{
            color: #000000;
            svg path {
                fill: #000000;
            }
        }
    }
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 95px;
    &__image-mobile {
        display: none;
    }
    &__address {
        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        display: flex;
        transition: all 0.5s;
        text-transform: uppercase;
        color: #1b3663;
        svg {
            margin-right: 8px;
        }
        &:hover {
            color: #000;
        }

        span {
            white-space: nowrap;
        }
    }

    &__info {
        padding-top: 130px;
        padding-bottom: 130px;
        width: calc(50% - 30px);
    }

    &__title {
        font-weight: 800;
        margin-top: 11px;
        font-size: 75px;
        line-height: 100%;
        text-transform: uppercase;
        color: #212121;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 7px;
    }

    &__tag {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #555555;
        display: block;
        margin-top: 9px;
        padding-left: 23px;
        padding-right: 23px;
        position: relative;
        &:before {
            left: 0px;
            width: 6px;
            height: 6px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            content: "";
            border-radius: 100%;
            background: #1b3663;
        }
    }

    &__btn {
        margin-top: 26px;
    }

    &__image-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        height: 100%;
        display: block;
    }

    &__wrapper {
        position: relative;
        width: 100%;
    }
}

.text-block {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img-mobile {
        display: none;
    }

    &__image-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: calc(50% + 30px);
    }

    &__img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        display: block;
    }

    &__wrapper {
        position: relative;
        width: 100%;
    }

    &__info {
        width: calc(50% - 30px);
        margin-left: auto;
        margin-right: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title {
        max-width: 500px;
    }

    &__text {
        margin-top: 17px;
        font-size: 14px;
        line-height: 150%;
        color: #6c6c6c;
    }

    &__link {
        margin-top: 32px;
    }
}

.our-work {
    margin-top: 100px;
    position: relative;
    &:before {
        background: #fff;
        top: 0;
        bottom: 0;
        right: 100%;
        left: -50vw;
        position: absolute;
        content: "";
        z-index: 2;
    }

    &__wrapper {
        overflow: hidden;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: 800;
        font-size: 30px;
        line-height: 130%;
        text-transform: uppercase;
        color: #0f1c33;
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        max-width: 120px;
        margin-left: 20px;
        width: 100%;
    }

    &__btn {
        cursor: pointer;
        transition: all .5s;
        svg path {
            transition: all 0.5s;
        }
        &:hover svg path {
            fill: #1b3663;
        }

        &.our-work__btn-prev:hover{
            transform: translateX(-6px);
        }
        &.our-work__btn-next:hover{
            transform: translateX(6px);
        }
    }

    &__slider-wrapper {
        margin-top: 50px;
    }

    &__slider-item {
        margin-right: 30px;
    }

    &__slider-img {
        height: 270px;
        object-fit: cover;
        width: 100%;
        display: block;
    }

    &__slider-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    &__after,
    &__before {
        position: relative;
        padding-left: 64px;
        display: block;
        font-weight: 800;
        font-size: 14px;
        line-height: 130%;
        text-transform: uppercase;
        color: #6c6c6c;

        &:before {
            width: 54px;
            height: 2px;
            background: var(--main-color);
            left: 0;
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .slick-list.draggable {
        overflow: visible;
        padding: 0 50px 0 0 !important;
    }

    .slick-arrow {
        display: none !important;
    }
}

.prices {
    max-width: 690px;
    margin-top: 100px;
    &__title {
        color: #0f1c33;
        text-align: center;
    }

    &__items {
        margin-top: 20px;
    }

    &__item {
        display: flex;
        padding-top: 28px;
        padding-bottom: 28px;
        border-bottom: 1px solid #dedede;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #0f1c33;
    }

    &__value {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #0f1c33;
    }
}

.phone-block {
    margin-top: 80px;
    overflow: hidden;

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #0f1c33;
        width: max-content;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        &:before,
        &:after {
            background: #0f1c33;
            position: absolute;
            content: "";
            height: 2px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            right: calc(100% + 25px);
            left: -50vw;
        }
        &:after {
            left: calc(100% + 25px);
            right: -50vw;
        }
    }

    &__number {
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: #0f1c33;
        display: block;
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        &:before{
            bottom: 8px;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            content: '';
            background: #0f1c33;
            width: 0;
            transition: all 1s;
        }
        &:hover:before{
            padding-right: 100%;
        }
    }
}

.contact {
    padding-bottom: 70px;
    margin-top: 85px;
    background: var(--main-color);

    &__title {
        margin-top: 100px;
        padding-top: 40px;
        font-weight: 600;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__wrapper {
        max-width: 586px;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        input {
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 3px;
            display: flex;
            align-items: center;
            font-weight: 500;
            width: 100%;
            font-size: 16px;
            line-height: 130%;
            height: 58px;
            padding: 16px 27px;
            outline: none;
            background: transparent;
            color: #ffffff;
            &::placeholder {
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                color: #ffffff;
            }
        }
    }

    &__text {
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        margin-bottom: 6px;
        margin-top: 30px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 27px;
        width: 100%;
        height: 58px;
        background: #ffffff;
        border-radius: 3px;
        font-weight: 800;
        border: none;
        outline: none;
        font-size: 14px;
        margin-top: 30px;
        line-height: 17px;
        text-transform: uppercase;
        color: var(--main-color);
        cursor: pointer;
    }
}

.home-map {
    margin-top: 80px;
    margin-bottom: 80px;
}

.map {
    display: flex;
    justify-content: space-between;
    &__contact {
        max-width: 325px;
        padding: 60px 40px 75px 40px;
        background: var(--main-color);
        width: 100%;
    }

    &__title {
        font-weight: 800;
        font-size: 30px;
        line-height: 130%;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 30px;
    }

    &__phone,
    &__address {
        margin-bottom: 33px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
        }
    }

    &__map {
        width: calc(100% - 385px);
    }
}

.footer {
    padding: 55px 0;
    background: #0f1c33;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo-wrapper {
        max-width: 320px;
        img {
            width: 100%;
            display: block;
            object-fit: contain;
        }
    }

    &__btn-desktope {
        margin-top: 25px;
    }

    &__btn-mobile {
        display: none;
    }

    &__menu {
        margin: 0 25px;
        ul a {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            display: block;
            margin-bottom: 14px;
        }
    }

    &__phone,
    &__address {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
        }
    }

    &__address {
        margin-top: 30px;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 100px;

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #aeaeae;
        display: block;

        transition: all 0.5s;
        &:hover {
            color: #000000;
        }
    }

    &__separator {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #aeaeae;
        margin-right: 8px;
        margin-left: 8px;
    }

    &__this {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

.page-services.services {
    margin-top: 30px;
}

@import "media";
