
@media (max-width: 1440px) {
  .finance__nav{
      top: 100px;
      left: 150px;
    }

    .finance-open {
      justify-content: space-between;
      flex-direction: column-reverse;
    
        &__left-part {
          width: 100%;
          margin-right: 0px;
        }
    
  
    
     
    
        &__right-part {
          width: 100%;
          display: flex;
          justify-content: space-between;
    
        }
    
        &__time {
    height: 60px;
    margin-top: 30px;
    width: 49%;
        }
        &__currency-block {
          width: 49%;
          margin-top: 30px;
          padding-bottom: 30px;
          height: 60px;
          transition: all 1s ease-out;
          overflow: hidden;


          &:hover{
            padding-bottom: 280px;
          }

          &:hover .select__icon-finance{
            transform: rotate(180deg);
          }
        }
    }
    .first-column {
      margin-top: 15px;
    }

    .select__icon-finance {
      display: block;
    
    }

  }
  


  
@media (max-width: 1100px) {
  .select__icon-finance {
    right: -12%;
  }

  .first-column {
    &:nth-child(2){
      transform: translateX(0px);
    }
  }
  }
  
  @media (max-width: 996px) {

    .finance-open__img-b{
width: 80%;
    }





    .finance__nav{
      font-size: 14px;
      top: 70px;
      left: 70px;
    }
    .finance {
      padding-left: 30px;
      padding-right: 30px;
      &__title {
        font-size: 39px;
        line-height: 50px; 
      }
  
      &__category {
        flex-wrap: wrap;
      }
  
    
      &__item-cat{
        flex: 0 0 100%;
       text-align: center;
    margin-bottom: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      } 
  
  
      &__subtitle {
        font-size: 18px;
        line-height: 27px;
      }
  
      &__item-text {
        font-size: 17px;
      }
    }
  
    .finance-main {
      padding-bottom: 0px;
      padding-left: 30px;
      padding-right: 30px;
  
      &__title {
        
        font-size: 39px;
        padding-top: 100px;
        margin-top: -20px;
      
      }
  
      &__line {
        margin-bottom: 80px;
      }
  
      &__text-cont {
        max-width: 60%;
        padding-right: 30px;
      }
  
      &__text {
        font-size: 17px;
        line-height: 26px;
      }
    }
  }
  
  
  @media (max-width: 776px) {
    .finance__nav{
  
      top: 70px;
      left: 15px;
    }
  }
  
  
  @media (max-width: 550px) {


    .finance-open {
     
    
        &__lp-item {
       margin-top: 30px;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 10px;
    
        }
    
        &__img-block {
          width: 90%;
          margin: 30px auto;
        
        }
    
        &__text-block {
          width: 90%;
          margin-top: 20px;
          margin: 0 auto;
        }
    
        &__tb-title {
          font-size: 18px;
          text-align: center;
        }
    
      
        &__tb-list {
    font-size: 16px;
        }
    
        &__right-part {
          flex-direction: column;
    
        }
    
        &__time {
         width: 100%;
        }
        &__currency-block {
   width: 100%;
        }
    
    }




    .finance__item-cont-img {
      width: 80px;
      height: 80px;
    }
    .finance__item-img {
      width: 45px;
      height: 45px;
    }
  
    .finance-main {
      &__flex-cont {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
  
      &__text-cont {
        max-width: 100%;
        padding-right: 0px;
        text-align: center;
        margin: 0 auto;
        margin-top: -80px;
      }
  
      &__text {
        font-family: "Cuprum-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
      }
    }
  
    .finance {
      padding-left: 15px;
      padding-right: 15px;
      &__title {
        font-size: 30px;
        line-height: 40px;
      }
  
      &__subtitle {
        font-size: 16px;
        line-height: 25px;
      }
  
      &__item-text {
        font-size: 16px;
      }
    }
  
  
  }
  
  
  @media (max-width: 380px) {
  .finance__category  {
    justify-content: space-between;
    }
  }