    .portfolio {
        background: #F6F6F6;
        padding-top: 5%;
        margin-top: 5%;
        padding-bottom: 5%
    }

    .portfolio p {
        font-family: Montserrat;
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        font-weight: 700;
    }
.portfolio a{
    text-decoration: none;
    color: black;
      font-family: Montserrat;
        font-size: 24px;
        line-height: 42px;
        font-weight: 700;
    border-bottom: 2px solid black;
    padding-top: 20px;
      margin-bottom: 20px;
}

.portfolio a:hover{
    border-bottom: none;
}