.valtline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.valtline__list {
    width: 260px;
}

#map {
    height: 574px;
    width: 100%;
    overflow-anchor: none;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
        overflow-y: visible;
        height: 270px;
        width: 232px;
        position: relative;
    }

    &__content {
        padding: 12px 16px 0;
    }

    &__cat {
        font-size: 14px;
        line-height: 20px;
        color: #828282;
    }

    &__title {
        margin-top: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    &__img {
        object-fit: cover;
        height: 130px;
        width: 100%;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        color: #333333;

        &--span {
            color: #3ea2ff;
        }
    }

    &__btn {
        text-align: center;
        display: block;
        margin-top: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white-color);
        background: #DDA15E;
        border-radius: 4px;
        padding: 6px 0;
        width: 100%;
    }
}

.map .gm-style-iw-d {
    overflow-y: hidden !important;
}

.map .gm-style-iw-c {
    padding: 0;
}

button.gm-ui-hover-effect {
    width: 24px !important;
    height: 24px !important;
    right: 5px !important;
    top: 5px !important;
    border-radius: 100px;
    background: #fff url('../img/valtline/close_big.svg') !important;
    opacity: 1;

    img {
        display: none !important;
    }
}

.date {
    padding-bottom: 51px;

    &__title {
        max-width: 720px;
        margin: 0 auto;
        margin-bottom: 64px;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        color: #333333;
    }
}

.datepicker--nav {
    padding: 10px;
}

.datepicker--nav-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #DDA15E;

    i {
        margin-left: 50px;
    }
}

.datepicker {
    width: 376px;
    box-shadow: 0px 38px 80px rgba(94, 155, 244, 0.35), 0px 15.8755px 33.4221px rgba(94, 155, 244, 0.0503198), 0px 8.4878px 17.869px rgba(94, 155, 244, 0.0417275), 0px -5px 10.0172px rgba(94, 155, 244, 0.035), 0px 2.52704px 5.32008px rgba(94, 155, 244, 0.0282725), 0px 1.05156px 2.21381px rgba(94, 155, 244, 0.0196802);
}

.datepicker--cells {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.datepicker--day-name {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.datepicker--content {
    padding: 26px 63px 35px;
}


.date-form {
    display: flex;
    justify-content: space-between;

    &__input {
        display: block;
        width: 36.5%;
        height: 58px;
        font-size: 16px;
        line-height: 30px;
        border: 1px solid #d7e3f4;
        border-radius: 4px;
        padding-left: 72px;
        background: url('../img/valtline/calendar.svg') no-repeat 24px center;

        &::placeholder {
            color: #547493;
        }
    }

    &__btn {
        width: 24%;
        height: 58px;
        background: var(--orange-color);
        color: var(--white-color);
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 4px;
    }
}

.hotels {
    padding-bottom: 88px;

    &__title {
        padding: 13px 0 12px 34px;
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        color: #333333;
        background: #f2f2f2;
        margin-bottom: 20px;
        position: relative;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;

            width: 15px;
            height: 60px;
            top: 0;
        }

        &:before {
            background: url('../img/valtline/hotels-title-left.svg') no-repeat;
            left: 0;
        }

        &:after {
            right: 0;
            background: url('../img/valtline/hotels-title-right.svg') no-repeat;
        }
    }

    &__nextstep {
        margin-bottom: 48px;
        display: none;
    }
}

.hotels-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px 28px;

    &__item {
        overflow: hidden;
        box-shadow: 0px 38px 80px rgba(0, 0, 0, 0.07), 0px 15.8755px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 8.4878px 17.869px rgba(0, 0, 0, 0.0417275), 0px 4.75819px 10.0172px rgba(0, 0, 0, 0.035), 0px 2.52704px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.05156px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 6px;
        width: 18.5%;
        margin: 0 10px 20px;
        transition: box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 20px 40px rgba(94, 155, 244, 0.25), 0px 15.8755px 33.4221px rgba(94, 155, 244, 0.0503198), 0px 8.4878px 17.869px rgba(94, 155, 244, 0.0417275), 0px -5px 10.0172px rgba(94, 155, 244, 0.035), 0px 2.52704px 5.32008px rgba(94, 155, 244, 0.0282725), 0px 1.05156px 2.21381px rgba(94, 155, 244, 0.0196802);
            transition: box-shadow 0.3s ease;

            .hotels-list__title {
                color: #3EA2FF;
                transition: color 0.3s ease;
            }
        }
    }

    &__content {
        padding: 24px 20px 28px;
    }

    &__img {
        width: 100%;
    }

    &__cat {
        font-size: 14px;
        line-height: 20px;
        color: #828282;
    }

    &__title {
        margin-top: 7%;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        transition: color 0.3s ease;
    }

    &__sondrio {
        display: block;
        &:nth-child(n + 16) {
            display: none;
        }
    }

}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 48px;

    &__item {
        a {
            font-size: 14px;
            line-height: 19px;

            &:hover {
                color: var(--orange-color);
            }
        }

        &.current {
            color: #dda15e;
        }
    }
}

.hotels__accordion {
    animation: none;
}