html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}

* {
    box-sizing: border-box;
    font-family: Lufga;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.main-title {
    font-weight: 300;
    font-size: 61px;
    line-height: 80px;
    letter-spacing: -0.005em;
    color: #ba880b;
}

.inherit-elem {
    color: inherit;
    font-size: inherit;
    font-size: inherit;
    line-height: inherit;
    text-shadow: inherit;
}

.main-btn {
    max-width: 190px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ba880b;
    transition: all 0.5s;
    letter-spacing: 0.0125em;
    text-transform: uppercase;
    color: #ba880b;
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #ba880b;
}
.main-btn::before,
.main-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100%;
}

.main-btn::before {
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: clip-path 0.2s, -webkit-clip-path 0.2s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.main-btn span {
    display: block;
    color: #ba880b;
    position: relative;
}

.main-btn > span {
    overflow: hidden;
}
.main-btn:hover::before {
    transition-duration: 0.3s;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.main-btn:hover > span > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
    color: #fff;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    align-items: center;
}

@keyframes MoveUpInitial {
    to {
        transform: translate3d(0, -105%, 0);
    }
}

@keyframes MoveUpEnd {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.circle-default {
    width: 136px;
    height: 136px;
    display: block;
    position: relative;
    &__circle {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        animation: rotateInf linear 70.5s infinite;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes rotateInf {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(3200deg);
    }
}

// start prelouder anim

.prelouder {
    // display: none !important;
}

.prelouder__continie-anim,
.prelouder__start-anim {
    stroke-dasharray: 1000;
    transition: all 0.5s;
    stroke-dashoffset: 1000;
}

.prelouder__continie-anim {
    animation: drowPrelouder 3.5s ease-in forwards 1.5s, getFill 0.5s ease-in forwards 3s;
}

.prelouder__start-anim {
    animation: drowPrelouder 3.5s ease-in forwards 0s, getFill 0.5s ease-in forwards 3s;
}

.prelouder__word {
    opacity: 0;
    transition: all 1s;
    animation: getWord 1.5s ease-in forwards 2.5s;
}

@keyframes getWord {
    from {
        transform: translateY(6px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes drowPrelouder {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes getFill {
    from {
        stroke-width: 1;
        fill: #fff;
    }
    to {
        fill: #ba880b;
        stroke-width: 0.5;
    }
}

.prelouder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
    z-index: 20;
    &.visible {
        opacity: 0;
        transform: translateX(100%);
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
        svg {
            display: block;
            max-width: 400px;
            height: 250px;
            width: 100%;
        }
    }
}

// end prelouder anim
