html{
    scroll-behavior: smooth;
}

*{
    font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 22px;
// color: #FFFFFF;
color: black;
}



a{
    color: #FFFFFF;
    text-decoration: none;
}

li{
    list-style: none;
}

.leng-bg{
background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
}

.back-arrow{
    font-size: 25px;
color: #000000;
position: relative;
margin-left: 40px;

&::before{
content: '';
position: absolute;
width: 50px;
height: 50px;
background: url(../img/header__arrow.png);
background-repeat: no-repeat;
transform: rotate(90deg);
margin-left: -55px;
margin-top: -5px;
}
}

input{
    outline: none;
}



.next-arrow {
    font-size: 35px;
color: #000000;
position: relative;
transform: translateX(-50px);
    &::after{
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        background: url(../img/header__arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        margin-left: 5px;
        margin-top: 0px;
        }
}

button{
    transition: all 0.9s ease 0s;
    cursor: pointer;
    outline: none;
&:hover{
    transition: all 0.9s ease 0s;
    background: linear-gradient(91.28deg, rgba(253, 0, 243, 0.68) 100%,  rgba(173, 0, 255, 0.81) 0%);
   
}    
}

.js-ui-accordion button{
    &:hover{
       
        background: none;
       
    } 
}

button.type-version__button-download{
    border: none;
    width: 270px;
}

.header {
	transition: all .4s ease;
}

.home__leng{
	transition: all .1s ease;
}
.header.out, .home__leng.out {
    opacity: 0;
}


