@font-face{

font-family: 'Banny';

src: url('../fonts/Banny-Round.otf');
}


 .burger-menu{
    position: absolute;
     display: none;
}

.stand-font{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
text-align: center;
color: #FFFFFF;

}

.header{
    margin-top: -16px;
    height: 800px;
    width: 100%;
    background: url(/assets/img/header-bg.png);
    background-repeat: no-repeat;
  background-size: cover;
    
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/*NAV MENU*/
.header-nav-panel ul{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-left: -4%;
}

.header-nav-panel ul li a{
    text-decoration: none;
}

.header-nav-panel ul li a:hover{
    text-decoration: underline;
}

/*LOGO*/

.time-and-date p{
transform: rotate(-90deg);
}

.sup-logo{
letter-spacing: 0.5em;
    text-align: center;
    margin-bottom: 0px;
     margin-top: 90px;
}

.main-logo{
    font-family: Banny;
font-size: 96px;
line-height: 0px;
color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}


.line-suplogo{
    width: 60px;
height: 5.11px;
background: #E8C300;
border-radius: 50px;
    margin:  0 auto;
    margin-top: -20px;
}

.left-button, .right-button{
    width: 200px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
box-sizing: border-box;
border-radius: 5px; 
}

.left-button:hover, .right-button:hover{
    background: #E8C300;
}
.social-block{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
}

.social-block img{
    width: 15px;
    height: 15px;
   padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-top: 20px;
    
}


.social-block img:hover{
    background: #E8C300;
}

.logo-and-social{
    display: flex;
    justify-content: space-around
}

.time-and-date{
    width: 15%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top: 100px;
    transform: scale(0);
}

.logo-block{
 margin: 0 auto;
    width: 70%;
}

.social-block{
    width: 15%;
}

.buttons{
   display: flex;
    justify-content: center;
        margin-top: 30px;
}

.right-button{
    margin-left: 3%;
}

/*header media query*/

@media(max-width :1110px) { 
    .main-logo{
font-size: 86px;
}
}

@media (max-width :986px) {
    .main-logo{
font-size: 65px;
}

}
@media (max-width :768px) {
       .main-logo{
font-size: 50px;
}
  
    
.line-suplogo{
    width: 50px;
height: 4.11px;
}

.left-button, .right-button{
    width: 130px;
    height: 45px;
}

.social-block img{
    width: 10px;
    height: 10px;
   padding: 10px;
    margin-top: 15px;
}


.logo-block{
 margin: 0 auto;
    width: 70%;
}

.social-block{
    width: 10%;
}
    
    .time-and-date{
    width: 10%;
    }
    
    .stand-font{
font-size: 10px;
    }
}

@media (max-width :579px) {
    .header-nav-panel ul li img{
        height: 120px;
        width: 120px;
    }
    .main-logo{
    font-size: 40px;
    }
    
    .header{
    height: 600px;
    }
    .header-nav-panel ul li:nth-child(1),
    .header-nav-panel ul li:nth-child(2),
    .header-nav-panel ul li:nth-child(3),
    .header-nav-panel ul li:nth-child(4),
    .header-nav-panel ul li:nth-child(6),
    .header-nav-panel ul li:nth-child(7),
    .header-nav-panel ul li:nth-child(8),
    .header-nav-panel ul li:nth-child(9){
        display: none;
    }
    
    .sup-logo{
     margin-top: 50px;
    }
    
    .burger-menu{
        display: block;
    margin-top: 30px;
    margin-left: 10px;
    width: 40px;
    height: 50px;
}
.top-line, .center-line, .bot-line{
    width: 100%;
 height: 3px;
    background: white;
    margin-top: 6px;
}
    
.line-suplogo{
  margin-top: 20px;
}    
    
}
@media (max-width :482px) {
    .main-logo{
    font-size: 25px;
    }

}
@media (max-width :344px) {
    .main-logo{
        font-size: 25px;
    }
    
    .header{
    height: 500px;
    }
}

/*block about us*/

.about-us-block{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container-about-us{
    max-width: 1280px ;
    margin: 0 6%;
    display: flex;   
}

.text-about-us{
    width: 50%;
}
.text-about-us h1{
    font-family: Banny;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
color: #000000;
    margin-top: 25%;
}

.bold-p-about{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #000000;
}

.stand-p-about{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
}

.right-about-us{
    width: 50%;
}
.bg-block-about{
    width: 66%;
    height: 475px;
        background: url(/assets/img/about-img.png);
    background-repeat: no-repeat;
  background-size: cover;
    display: flex;
        flex-direction:column;
    justify-content: center;
}

.block-border-about{
    width: 250px;
height: 250px;
    border: 20px solid  #E8C300;
box-sizing: border-box;
border-radius: 5px;
    margin-left: 70%;
        
}

@media (max-width :870px){
   .block-border-about{
    width: 230px;
height: 230px;
         
    } 
    
}


@media (max-width :810px) {
    
    .block-border-about{
    width: 200px;
height: 200px;
         border: 13px solid  #E8C300;
    }
    
    .text-about-us h1{
font-size: 26px;
}

.bold-p-about{
font-size: 15px;
}

.stand-p-about{
font-size: 11px;
}
}
    
@media (max-width :679px) {
      .block-border-about{
    width: 150px;
height: 150px;
    }
}

@media (max-width :579px) {
    .right-about-us{
        display: none;
        width: 0%;
    }
    
    .text-about-us{
    width: 70%;
        margin: 0 auto;
}
}
/*our team*/
.our-team{
    height: 625px;
    width: 100%;
    background: url(/assets/img/team-bg.png);
    background-repeat: no-repeat;
  background-size: cover;
    margin-top: 50px;
}
.first-p-team{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 0.5em;
text-transform: uppercase;
color: #FFFFFF;
    padding-top: 50px;
}

.bg-our-team{
    width: 66%;
    height: 475px;
        background: url(/assets/img/gearl-team.png);
    background-repeat: no-repeat;
  background-size: cover;
    display: flex;
        flex-direction:column;
    justify-content: center;
    margin-left: 20%;
}

.team-block-border{
    margin-left: -20%;
}
.team-color{
    color: #FFFFFF;
}

.text-about-us .team-color{
    color: #FFFFFF;
}


/*form block*/
.bg-block-form{
    width: 66%;
    height: 525px;
        background: url(/assets/img/form-block.png);
    background-repeat: no-repeat;
  background-size: cover;
    display: flex;
        flex-direction:column;
    justify-content: center;
}
.text-about-us .form-h1{
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-form{
    display: flex;
        flex-wrap:wrap;
    margin-top: 20px;
}

.form-input{
    width: 42%;
height: 60px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #E5E5E5;
    background: #E5E5E5;
border-radius: 5px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
}

.button-form{
    border: 1px solid #E8C300;
    width: 88%;
    height: 60px;
    background: #E8C300;
border-radius: 5px;
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 20px;
text-align: center;
    margin-top: 15px;
    margin-left: 2.5%
}

@media (max-width :1130px){
    .button-form{
     margin-left: 3%;
    width: 91%;
    }
}

@media (max-width :720px){
    .right-form-block{
        display: none;
        width: 0%;
    }
    .text-form-block{
        width: 100%;
        margin-left: 8%;
    }
    
    .button-form{
     margin-left: 3%;
    width: 88%;
    }
}

@media (max-width :520px){
     .button-form{
     margin-left: 3%;
    width: 92%;
    }
}

@media (max-width :420px){
    .button-form{
     margin-left: 3.5%;
    width: 85%;
    }
    .form-input{
    width: 82%;
    }
    .container-form{
    display: block;
/*        flex-wrap:wrap;*/
    margin-top: 20px;
}
}

@media (max-width :320px){
    .button-form{
     margin-left: 5.5%;
    width: 84%;
    }
}


.specialties-block{
    height: 625px;
    width: 100%;
    background: url(/assets/img/specialtys-bg.png);
    background-repeat: no-repeat;
  background-size: cover;
    margin-top: 50px;
}

.bg-specialties{
    width: 66%;
    height: 475px;
        background: url(/assets/img/spec.png);
    background-repeat: no-repeat;
  background-size: cover;
    display: flex;
        flex-direction:column;
    justify-content: center;
    margin-left: 20%; 
}


/*hungry-menu-block*/


.hungry-menu-block{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 80px;
}

.hungry-menu-block h1{
   font-family: Banny;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
    margin-bottom: 40px;
}

.decr-menu{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
text-align: center;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-hungry-menu{
    display: flex;
    justify-content: space-around;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 60px;
}

.nav-hungry-menu span{
    padding: 15px 40px 15px 0px;
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #333333;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.nav-hungry-menu span:last-child{
    border: none;
}

.container-menu-hungry{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.part-menu-hungry{
    margin-top: 30px;
}

.top-part-menu{
    font-family: Banny;
font-size: 18px;
line-height: 18px;
color: #333333;
}

.bot-part-menu{
         font-family: Banny;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
    color: #333333;
    margin-top: -15px;
}




@media(max-width :1160px) {
  .top-part-menu{
font-size: 16px;
}

}
@media (max-width :991px) {
     .top-part-menu{
font-size: 13px;
}
    
    .bot-part-menu{
font-size: 11px;
}
}

@media (max-width :800px) {
    .three-column-menu{
        display: none;
    }
    
      .top-part-menu{
font-size: 15px;
}
    
    .nav-hungry-menu{
        flex-wrap: wrap;
    max-width: 300px;      
}
    
    .nav-hungry-menu span:last-child{
    display: none;
}
    
    .nav-hungry-menu span{
        border: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
        padding: 10px;
    }
    
}

@media (max-width :630px) {
     .two-column-menu{
        display: none;
    }
    
    .decr-menu{
        width: 90%;
    }
    
         .top-part-menu{
font-size: 16px;
}

}
@media (max-width :480px) {
    .container {
        width: 320px;
    }

}
@media (max-width :320px) {
         .top-part-menu{
font-size: 14px;
}
}

.map-bg{
    margin-top: 40px;
     height: 350px;
    width: 100%;
    background: url(/assets/img/map.png);
    background-repeat: no-repeat;
  background-size: cover;
}

.container-footer{
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.9);
    margin-top: -15px;
}

.container-footer p{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
border-radius: 5px;
  padding-top: 39px;
}


            

@media (max-width :980px) {
    .map-bg{
     height: 300px; 
}
}

@media (max-width :680px) {
    .map-bg{
     height: 200px; 
    }
        .container-footer{
    height: 50px
}
    
          .container-footer p{
    padding-top: 19px;
}
}

@media (max-width :480px) {
    .map-bg{
     height: 150px; 
}
}

/*animation*/
.block-border-about{
    transition: all 0.8s ease 0s;
    transform:  rotate(-90deg)
}

.block-border-about:hover{
    transition: all 0.8s ease 0s;
    transform:  rotate(90deg)
}

.header-nav-panel ul li a img{
    transition: all 0.8s ease 0s;
    transform:  rotate(-180deg);
}

.header-nav-panel ul li a img:hover{
    transition: all 0.8s ease 0s;
    transform:  rotate(180deg);
}

.default-btn {
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.35px;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  position: relative;
  outline: none;
}


.slick-btn {
  position: absolute;
  top: 0%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #ffc222;
    border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.slick-btn:hover {
  background-color: #E8C300;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}
.slick-next p{
  transform: rotate(-90deg);
    font-size: 30px;
    margin-top: -0px;
}

.slick-prev p{
  transform: rotate(90deg);
    font-size: 30px;
    margin-top: -0px;
}


.left-button:hover, .right-button:hover, .social-block div img:hover, .button-form:hover{
    cursor: pointer;
}

.burger-menu{
    z-index: 100
}
.nav-hungry-menu span:hover{
    cursor: pointer;
   color: #E8C300;
}

.center-line.active {
transition: all 0.8s ease 0s;
transform: scale(0);
}

.top-line.active{
position: absolute;
transform: rotate(-45deg);
transition: all 0.8s ease 0s;
margin-top: 15px;
}

.bot-line.active{
transition: all 0.8s ease 0s;
transform: rotate(45deg);
margin-top: 16px;
}


    
.burger-menu-visible{
position: absolute;
left:0;
top: -500px;
background: url(/assets/img/team-bg.png);
    background-repeat: no-repeat;
  background-size: cover;
width: 100%;
height: 450px;
}

.burger-menu-visible.active{
transition: all 0.8s ease 0s;
margin-top: 500px;
}


.burger-menu-visible ul li a{
text-decoration: none;
    font-size: 16px;
    margin-left: 4%;
}

.burger-menu-visible ul{
    margin-top: 90px;
}

.burger-menu-visible ul li{
    margin-top: 12px;
}