// height media

* {
  font-family: "Monda";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

.my-container {
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.standart-pre-title {
  font-size: 14px;
  line-height: 23px;
  color: #b7a179;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
  &::before {
    position: absolute;
    content: "";
    bottom: -10px;
    width: 37px;
    height: 1px;
    background: #b7a179;
  }
}

.standart-title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #373737;
}

.inherit-block {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.cross-black-bg {
  position: relative;
  &:before {
    background: #161616;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
  }
}

.we-offer-bg--black {
  background: #161616;
}


