@import "normalize";
@import "main";
@import "common";

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  &.active {
    height: 100px;
    .header__drop-cont,
    .header__menu-btn {
      height: 100px;
    }

    .header__dropdown {
      background: rgba(45, 45, 45, 0.8) !important;
    }
  }
  &.main-black-bg-head {
    background: transparent;
    .header__dropdown {
      background: transparent;
    }
  }
  &.active-dark {
    background: #161616;
  }
  position: fixed;
  z-index: 10;
  background: #161616;
  transition: all 0.5s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  &__logo {
    max-width: 250px;
    padding-left: 70px;
    img {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.active {
      .header__dropdown {
        background: rgba(45, 45, 45, 0.8) !important;
      }
    }
  }

  &__menu-item {
    margin-left: 80px;
    display: block;
    &:last-child {
      margin-left: 0;
    }
  }

  &__menu-link,
  &__menu-text {
    letter-spacing: 0.15em;
    color: #f0eee9;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      color: #b7a179;
    }
  }

  &__drop-cont {
    position: relative;
    display: block;
    height: 120px;
    display: flex;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 60px;
    align-items: center;

    .header__menu-text {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: calc(50% + 2px);
        transform: translateY(-50%);
        left: -30px;
        width: 15px;
        height: 7px;
        transition: all 0.5s;
        background: url(../img/dropdown-icon.svg) no-repeat;
      }
    }

    &:hover {
      .header__dropdown {
        opacity: 1;
        z-index: 1;
        transform: translateY(0px);
      }
      .header__menu-text {
        color: #b7a179;
        &:before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  &__dropdown {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    transform: translateY(-100%);
    background: rgba(45, 45, 45, 0.8);
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 20px;
    z-index: -1;
    &.active {
      opacity: 1;
      z-index: 1;
      transform: translateY(0px);
    }
  }

  &__menu-item-drop {
    display: block;
    margin-bottom: 35px;
    padding-left: 60px;
  }

  &__menu-btn {
    display: block;
    background: #b7a179;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .header__btn-text {
        color: #f0eee9;
      }
      .header__menu-svg svg path {
        fill: #f0eee9;
      }
    }
  }

  &__menu-svg {
    display: flex;
    align-items: center;
    margin-right: 8px;
    svg path {
      transition: all 0.5s;
    }
  }

  &__btn-text {
    color: #000;
    transition: all 0.5s;
  }

  &__burger {
    display: none;
    cursor: pointer;
    width: 29px;
    height: 20px;
    position: relative;
    margin-right: 15px;
    z-index: 10;
  }

  &__burger-top,
  &__burger-center,
  &__burger-bot {
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.5s;
    background: #b7a179;
    height: 2px;
  }

  &__burger-top {
    top: 0;
  }

  &__burger-center {
    top: 50%;
    transform: translateY(-50%);
  }

  &__burger-bot {
    bottom: 0;
  }

  &__burger.active {
    .header__burger-center {
      opacity: 0;
    }

    .header__burger-top {
      transform: rotate(45deg);
      top: 9px;
    }

    .header__burger-bot {
      bottom: 9px;
      transform: rotate(-45deg);
    }
  }
}

.home-slider {
  &__slider {
    position: relative;
    height: 100vh;
  }

  &__img {
    outline: none;
    height: 100vh !important;
    width: 100%;
    object-fit: cover;
  }

  &__dots {
    display: none;
  }

  &__dots-num {
    color: rgba(240, 238, 233, 0.6);
  }

  &__dots-text {
    color: rgba(240, 238, 233, 0.6);
    position: relative;
    &:before {
      position: absolute;
      content: "";
      bottom: -15px;
      left: 0;
      width: 37px;
      height: 1px;
      background: rgba(240, 238, 233, 0.6);
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 40px;
    right: 70px;
    display: flex !important;

    button {
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
      text-align: left;
      margin-left: 130px;
    }

    li.slick-active {
      p,
      span {
        color: #b7a179;
        &:before {
          background: #b7a179;
        }
      }
    }
    li:hover {
      p,
      span {
        color: #b7a179;
        &:before {
          background: #b7a179;
        }
      }
    }
  }
}

.two-slider {
  margin-top: -5px;
  background: #161616;
  padding-top: 40px;

  &__title {
    color: #fff;
    margin-bottom: 50px;
  }
}

.cross {
  margin-top: 190px;
  padding-bottom: 100px;
  position: relative;
  &__title {
    color: #252525;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__card {
    background: #202424;
    box-sizing: border-box;
    padding: 40px;
  }

  &__card-left {
    margin-right: 30px;
  }
  &__card-right {
    margin-left: 30px;
  }

  &__card-center {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &__card-text {
    margin-top: 30px;
    font-family: Rubik;
    font-style: italic;
    font-weight: 300;
    line-height: 170%;
    color: #ffffff;
    height: 180px;
  }

  &__brand-cont {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__brand-cyrcle {
    max-width: 105px;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #fff;
    margin-right: 18px;
    overflow: hidden;
  }

  &__brand {
    max-width: 90px;
    width: 100%;
  }

  &__brand-name {
    font-weight: bold;
    color: #ffffff;
  }

  &__brand-descr {
    font-size: 16px;
    line-height: 150%;
    color: #b7a179;
  }
}

.about-main {
  margin-top: 185px;
  margin-bottom: 0px;
  &__df {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__text {
    width: 50%;
    line-height: 150%;
    color: #3d3d3d;
    margin-bottom: 0;
  }

  &__link {
    max-width: 306px;
    width: 100%;
    margin-left: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #b7a179;
    box-sizing: border-box;
    justify-content: center;
    outline: none;
    transition: all 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      border: 1px solid #3d3d3d;
      svg path {
        fill: #3d3d3d;
      }
      span {
        color: #3d3d3d;
      }
    }
  }

  &__link-icon {
    margin-right: 20px;
    display: block;
    svg path {
      transition: all 0.5s;
    }
  }

  &__link-text {
    letter-spacing: 0.15em;
    transition: all 0.5s;
    color: #b7a179;
  }
}

.we-offer {
  margin-top: 185px;
  padding-top: 100px;
  &__title {
    color: #ffffff;
  }

  &__items {
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin-bottom: 100px;
    max-width: 530px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__icon {
    max-width: 82px;
    height: 82px;
    width: 100%;
  }

  &__text {
    margin-top: 36px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
  }
}

.about-main.about-us {
  margin-top: 0;
  padding-top: 230px;
  .about-main__text {
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
  .about-main__df {
    align-items: flex-start;
  }
}

.two-slider.about-us {
  margin-top: 180px;

  .slick-slider {
    margin-top: 60px;
  }
}

.main-black-bg,
.about-bg-bg {
  .contactus_expertise {
    padding-top: 50px;
    margin-top: -2px;
  }
}
@import "media";
@import "responsive";

main {
  background: #000;
}

.home-slider__dots {
  position: absolute;
  bottom: 100px;
  max-width: 766px;
  margin-left: auto;
  margin-right: 0;
}
.home-slider__dots-item.slick-current span,
.home-slider__dots-item.slick-current p {
  color: #b7a179;
}

.home-slider__dots-item.slick-current p:before {
  background: #b7a179;
}

.home-slider__dots-item span,
.home-slider__dots-item p {
  transition: all 0.5s;
}

.home-slider__dots-item p:before {
  transition: all 0.5s;
}

.home-slider__dots-item {
  cursor: pointer;
}

.home-slider__dots-item:hover span,
.home-slider__dots-item:hover p {
  color: #b7a179;
}

.home-slider__dots-item:hover p:before {
  background: #b7a179;
}
