@font-face {
    font-family: "plumb-light";
    src: url("../font/plumb-light.ttf");
}

@font-face {
    font-family: "plumb-bold";
    src: url("../font/PlumbBoldC.otf");
}

.container {
    max-width: 1306px;
    padding-left: 67px;
    padding-right: 67px;
    margin: 0 auto;
}


.bg-for-header {
    width: 100%;
    height: 41px;
    background: #DC151D;
    padding-top: 0;
}

header {
    .grid-header-container {
        display: grid;
        grid-template-columns: 90% 10%;

        .header-leng {
            justify-self: end;

            p {
                margin-top: 12px;
                margin-left: -28px;
            }

        }

        .header-info ul {
            margin-left: -46px;
            margin-top: 12px;

        }

        .header-info ul li,
        .header-leng p {
            font-family: "plumb-light";
            font-size: 14px;
            color: #fff;
        }

        .header-info ul li {
            list-style: none;
            display: inline;
            position: relative;

            &:nth-child(1) {
                margin-left: 34px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 14px;
                    left: -20px;
                    height: 19px;
                    background-image: url(../img/for-streat-img.png);
                }
            }

            &:nth-child(2) {
                margin-left: 38px;

                &::before {
                    content: "";
                    position: absolute;
                    left: -21px;
                    margin-top: 3px;
                    width: 22px;
                    height: 13px;
                    background-image: url(../img/for-poznyaki-img.png);
                }
            }

            &:nth-child(3) {
                margin-left: 53px;

                &::before {
                    content: "";
                    position: absolute;
                    margin-top: 1px;
                    left: -21px;
                    width: 15px;
                    height: 14px;
                    background-image: url(../img/time-work-img.png);
                }
            }
        }
    }

    .logo-and-social {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 23px;

        .social {
            justify-self: end;
            margin-top: 5px;
            margin-right: -5px;

            img {
                margin-left: 3px;
            }

            p {
                position: absolute;
                display: none;
            }
        }
    }

}


.bg-container-main-block {
    width: 100%;
    height: 723px;
    background: url(../img/main-img.png);
    margin-top: 115px;
    background-repeat: no-repeat;

    .text-container-bg {
        margin-left: 80px;
        padding-top: 65px;

        h2 {
            font-family: "plumb-bold";
            font-style: normal;
            font-weight: bold;
            font-size: 100px;
            line-height: 60px;
            text-transform: uppercase;
            color: #FFFFFF;

        }

        p {
            font-family: "plumb-light";
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            max-width: 291px;
            margin-top: -52px;
            word-spacing: 1.7px
        }

        form input {
            width: 220px;
            height: 57.5px;
            background: #ED1C24;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #fff;
            margin-top: 27px;
        }
    }
}

h3 {
    font-family: "plumb-bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-top: -230px;
}



@media (max-width :692px) {

    header .grid-header-container .header-info ul li:nth-child(2),
    header .grid-header-container .header-info ul li:nth-child(3) {
        display: none;
    }

    .bg-container-main-block .text-container-bg h2 {
        font-size: 75px;
        margin-bottom: 70px;
    }

    .bg-container-main-block .text-container-bg {
        margin-left: 35px;

    }

    .container {
        padding-left: 17px;
        padding-right: 17px;
    }
}

@media (max-width :414px) {
    header .grid-header-container {
        display: none;
    }

    .bg-for-header {
        background: #fff;
    }

    header .logo-and-social .social img,
    h3 {
        display: none;
    }

    header .logo-and-social .social p {
        position: static;
        display: block;
        font-family: "plumb-bold";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        margin-top: 1px;
        margin-right: 9px;
    }

    .bg-container-main-block .text-container-bg h2 {
        font-size: 50px;
        text-transform: capitalize;
        margin-top: -4px;
    }

    header .logo-and-social .logo a img {
        width: 157px;
        height: 34px;
    }

    .bg-container-main-block {
        margin-top: 15px;
    }

    .bg-container-main-block .text-container-bg p {
        max-width: 211px;
        word-spacing: 1px;
    }
    
    .bg-container-main-block .text-container-bg form input {
  margin-top: 3px;
}
    
    .bg-container-main-block {
  background: url(../img/bg-main-adap.png);
      height: 325px
}

}
