/*
* Third Party
*/
/*
* Custom
*/
/* Breakpoint mixin */
/***** Header Overview *****/
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-header__video {
  width: 240px;
  height: 120px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .main-header__video {
    display: none;
  }
}

.main-header__video p {
  font-size: 13px;
}

.main-header__video img {
  width: 40px;
  height: 40px;
}

.main-header__navigation {
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-header__navigation .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-header__navigation .hide-mobile {
    display: inline-block;
  }
}

.main-header__navigation .btn-menu {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__navigation .btn-menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__navigation .btn-menu img {
  margin: 0 20px;
  width: 25px;
  height: auto;
}

@media screen and (max-width: 576px) {
  .main-header__navigation .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .main-header__navigation .btn-menu {
    display: none;
  }
}

.main-header__navigation .nav {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-header__navigation .nav img {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .main-header__navigation .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
  .main-header__navigation .nav {
    display: none;
  }
}

.main-header__navigation .nav a {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  color: #222;
  font-size: 13px;
  text-decoration: none;
  line-height: 45px;
  cursor: pointer;
  font-weight: 600;
}

.main-header__navigation .nav a:hover {
  opacity: .7;
}

.main-header__navigation .nav a.underline span {
  position: relative;
}

.main-header__navigation .nav a.underline span:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  bottom: -5px;
  height: 2px;
  background-color: #16b67f;
  left: 0;
  right: 0;
}

.main-header__navigation .nav a.dots {
  font-size: 20px;
  margin-top: -5px;
}

.main-header__navigation .nav a.btn-banners {
  padding: 8px 15px;
  background-color: #16b67f;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  border-radius: 5px;
}

.main-header__navigation .nav a.btn-banners:hover {
  background-color: #139f6f;
}

.main-header__navigation li {
  display: inline-block;
}

.main-header__navigation li.quote a {
  padding-right: 0;
}

.main-header__navigation li.vtb a {
  padding: 0;
}

.main-header__navigation li.right-side {
  margin-left: 0;
}

.main-header .header-crypto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .main-header .header-crypto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-header .header-crypto__title {
  border-right: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  .main-header .header-crypto__title {
    border: none;
  }
}

.main-header .header-crypto__title h1 {
  height: 75px;
  line-height: 75px;
  padding: 0 20px 0 16px;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

.main-header .header-crypto__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  .main-header .header-crypto__navigation ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid #ccc;
  }
}

@media screen and (max-width: 576px) {
  .main-header .header-crypto__navigation ul {
    border-top: 1px solid #ccc;
    border-left: none;
  }
}

.main-header .header-crypto__navigation ul li {
  margin: 0 15px;
}

@media screen and (max-width: 767px) {
  .main-header .header-crypto__navigation ul li {
    margin: 10px;
  }
}

.main-header .header-crypto__navigation ul li:first-child {
  width: 155px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .main-header .header-crypto__navigation ul li:first-child {
    display: none;
  }
}

.main-header .header-crypto__navigation ul li:first-child a {
  line-height: 1;
  font-size: 14px;
}

.main-header .header-crypto__navigation ul li:first-child a:hover {
  color: #000;
}

.main-header .header-crypto__navigation ul li:first-child a h3 {
  margin: 0;
}

.main-header .header-crypto__navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  font-size: 13px;
  color: #222;
  line-height: 16px;
}

.main-header .header-crypto__navigation ul li a:hover {
  color: #16b67f;
}

.main-header .header-crypto__navigation ul li a:hover .crypto-name {
  color: #16b67f;
}

.main-header .header-crypto__navigation ul li a:hover .crypto-digits {
  color: #16b67f;
}

.main-header .header-crypto__navigation ul li a:hover .crypto-percent {
  color: #16b67f;
}

.main-header .header-crypto__navigation .crypto-name {
  display: block;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #000;
  font-weight: bold;
}

.main-header .header-crypto__navigation .crypto-digits {
  display: block;
  font-weight: bold;
}

.main-header .header-crypto__navigation .crypto-percent {
  display: block;
  color: #f44;
  margin-left: -5px;
  font-weight: bold;
}

.main-header .header-crypto__navigation .crypto-percent.positive {
  color: #16b67f;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid #ccc;
  text-align: left;
  margin-bottom: 20px;
  padding: 20px 30px 0;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container-fluid {
  max-width: 1500px;
  margin: 0;
  padding: 0;
}

.footer .footer-link {
  display: block;
  margin-bottom: 8px;
}

.footer a {
  font-size: 13px;
  line-height: 16px;
  color: #222;
  text-decoration: none;
}

.footer a:hover {
  opacity: .7;
}

.footer ul {
  margin-bottom: 19px;
}

@media screen and (max-width: 767px) {
  .footer ul {
    display: none;
  }
}

.footer ul li {
  margin-bottom: 8px;
}

.footer span {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #222;
}

.footer p {
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 16px;
  color: #999;
}

html,
body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

section,
header {
  position: relative;
}

body {
  overflow-x: hidden;
  position: relative;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Circe-Light", sans-serif;
  margin: 0;
  padding: 0;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

h2 {
  font-family: "Circe-Light", sans-serif;
  color: #000;
  font-size: 36px;
  line-height: 1.55;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:focus, a:active {
  color: #fff;
}

.green-link {
  text-decoration: none;
  color: #16b67f;
  font-weight: 600;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.green-link:hover, .green-link:active, .green-link:visited {
  text-decoration: underline;
  color: #16b67f;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn-send {
  height: 40px;
  width: 300px;
  background-color: #16b67f;
  color: #fff;
  text-align: center;
  font-family: "PT Sans", serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .btn-send {
    width: 100%;
  }
}

.btn-send:hover {
  background-color: #139f6f;
}

.news-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 20px;
}

.news-item.aside-right {
  padding: 20px;
}

.news-item.aside-right a.desc {
  display: block;
  font-size: 18px;
  line-height: 22px;
}

.news-item.aside-right a.time {
  display: block;
  margin-top: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 600;
}

.news-item.aside-right a.time:hover {
  color: #16b67f;
}

.news-item a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #000;
}

.news-item a:hover {
  color: #16b67f;
}

.news-item a span.time {
  white-space: nowrap;
  display: block;
  color: #9b9b9b;
  margin-top: 5px;
  font-size: 12px;
}

.main-content {
  max-width: 1500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .aside-column__left {
  max-width: 207px;
  border-right: 1px solid #ccc;
  padding-top: 20px;
}

@media screen and (max-width: 576px) {
  .main-content .aside-column__left {
    display: none;
  }
}

.main-content .aside-column__left h2 {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #000;
  font-weight: 700;
  padding: 0 20px;
}

.main-content .aside-column__left .tabs {
  margin: 10px 10px 0 0;
  padding: 0 20px;
}

.main-content .aside-column__left .tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-content .aside-column__left .tabs li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  cursor: pointer;
  font-size: 11px;
  color: #222;
  padding: 8px 0 9px;
  border: 1px solid #ddd;
  border-radius: 3px 0 0 3px;
}

.main-content .aside-column__left .tabs li.active {
  background: #f1f1f1;
  cursor: default;
  color: #222;
}

.main-content .aside-column__left .tabs li:last-child {
  margin-left: -1px;
  border-radius: 0 3px 3px 0;
}

.main-content .aside-column__left .tabs a {
  text-decoration: none;
  color: #000;
}

.main-content .aside-column__left .tabs a:hover {
  color: #16b67f;
}

.main-content .aside-column__right {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  max-width: 26%;
}

@media screen and (max-width: 767px) {
  .main-content .aside-column__right {
    display: none;
  }
}

.main-content .aside-column__right .dictionary-title {
  text-decoration: none;
  padding: 20px 20px 10px;
  font-weight: 800;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #000;
  display: block;
}

.main-content .aside-column__right .dictionary-title:hover {
  color: #16b67f;
}

.main-content .aside-column__right .blockchain {
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  display: block;
  padding-bottom: 12px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.main-content .aside-column__right .blockchain:hover {
  color: #16b67f;
}

.main-content .aside-column__right .dictionary {
  padding: 0 20px;
}

.main-content .aside-column__right .dictionary .other {
  font-weight: 700;
}

.main-content .aside-column__right .dictionary li {
  padding: 15px 0;
  display: block;
  border-top: 1px solid #ccc;
}

.main-content .aside-column__right .dictionary li a {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .aside-column__right .dictionary li a:hover {
  color: #16b67f;
}

.main-content .aside-column__right .dictionary li a img {
  width: 20px;
}

.main-content .aside-column__right .main-news {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.main-content .aside-column__right .main-news__common {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.main-content .aside-column__right .main-news__title {
  font-size: 24px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
  padding-top: 10px;
  display: block;
  font-weight: bold;
}

.main-content .aside-column__right .main-news__title:hover {
  color: #16b67f;
}

.main-content .aside-column__right .main-news__category {
  display: block;
  margin-top: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.main-content .aside-column__right .main-news__category:hover {
  color: #16b67f;
}

.main-content__overview {
  max-width: 750px;
  margin: 0 auto;
  padding: 30px 3% 55px;
}

@media screen and (max-width: 576px) {
  .main-content__overview {
    max-width: 100%;
  }
}

.main-content__overview .content-time {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}

.main-content__overview .content-time img {
  width: 15px;
  margin: 0 10px 0 15px;
}

.main-content__overview .content-time span {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__overview .content-description a {
  text-decoration: none;
}

.main-content__overview .content-description h2 {
  font-size: 36px;
  letter-spacing: .44px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 576px) {
  .main-content__overview .content-description h2 {
    font-size: 32px;
  }
}

.main-content__overview .content-description p {
  font-size: 20px;
  line-height: 28px;
}

@media screen and (max-width: 576px) {
  .main-content__overview .content-description p {
    font-size: 18px;
  }
}

.main-content__overview .content-description h3 {
  font-size: 22px;
}

.image {
  margin: 15px auto;
}

.list-advanced {
  padding: 0 20px;
}

.list-advanced li {
  list-style-type: decimal;
  margin: 20px 0;
}

/* Popup */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100) !important;
  background: transparent;
  z-index: 3000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.popup-wrap {
  position: relative;
  max-width: 615px;
  width: 99%;
  background: #fff;
  border-radius: 8px;
  padding: 24px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.popup-wrap h1 {
  font-family: "PT Sans", serif;
}

.popup-wrap p {
  font-size: 18px;
  font-family: "PT Sans", serif;
  text-align: center;
}

#popup-close {
  position: absolute;
  top: -21px;
  right: -21px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #popup-close {
    top: 10px;
    right: 10px;
    color: #000;
  }
}

/* Comments */
.item-comment {
  margin-bottom: 30px;
}

.item-comment .avatar {
  padding-right: 15px;
  float: left;
}

.item-comment .avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.item-comment .comment-description {
  float: none;
  padding-left: 70px;
}

@media screen and (max-width: 576px) {
  .item-comment .comment-description {
    padding-left: 0;
  }
}

.item-comment .comment-description .name {
  font-family: "PT Sans", serif;
  text-decoration: none;
  color: #666;
  font-weight: 600;
}

.item-comment .comment-description p {
  margin: 5px 0 0;
  padding: 0;
}
