.container{
    width: 100%;
    margin: 0 auto;
}

body {
    background: #19011A;
    overflow-x:hidden;
    overflow-y:hidden;
}

#scene{
    position: absolute;
}

#scene{
    width: 100%;
}

#scene div{
    position: absolute;
}

.fone-move1{
    margin-left: 73%;
    margin-top: 250px;
}

.fone-move2{
    margin-left: 53%;
    margin-top: 50px;
}
.fone-move3{
    margin-left: 83%;
}

.fone-move4{
    margin-left: 28%;
    margin-top: 230px;
}


.fone-move5{
margin-top: 100px;    
}

.fone-move6{
    margin-left: 18%;
}
.fone-move7{
    margin-top: 300px;
}
.fone-move8{
    margin-left: 58%;
    margin-top: 450px;
}
.fast-move1{
    margin-left: 31%;
    margin-top: 450px;
}
.fast-move3{
    margin-left: 68%;
}
.fast-move2{
    margin-left: 68%;
    margin-top: 450px;
}

.fast-move4{
    margin-left: 4%;
    margin-top: 200px;
}
.portfolio {
    background: radial-gradient(55.53% 33.64% at 50% 50%, rgba(255, 125, 150, 0.287806) 0%, rgba(245, 64, 137, 4e-05) 100%);
}



.portfolio {
    width: 99.9%;
    margin: 0 auto;
    position: relative;
    z-index: 10px;
}

.portfolio a {
    display: block;
    text-decoration: none;
    color: #FFEFF6;
    font-family: Archivo Black;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.portfolio a:hover {
text-decoration: underline;

}

.text3d-wrap-2 {    
    overflow: hidden;
} 
.text3d-2 {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 200px;
    perspective: 2000px;
    transform-style: preserve-3d;  
}
.text3d-layer-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(20deg) rotateX(35deg) translateZ(0);
    animation: text3d-anim-2 2s infinite alternate linear;
    animation-fill-mode: forwards;  
}
.text3d-layer-2:after {
/*    font-family: Impact, Charcoal, sans-serif;*/
    font-family: Archivo Black;
    font-size: 80px;
    content: 'PORTFOLIO';
    letter-spacing: 2px;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 58px;
    color: #FFF;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}
.text3d-layer-2:nth-child(1):after {
    transform: translateZ(0px);
}
.text3d-layer-2:nth-child(2):after {
    transform: translateZ(-1.5px);
}
.text3d-layer-2:nth-child(3):after {
    transform: translateZ(-3px);
}
.text3d-layer-2:nth-child(4):after {
    transform: translateZ(-4.5px);
}
.text3d-layer-2:nth-child(5):after {
    transform: translateZ(-6px);
}
.text3d-layer-2:nth-child(6):after {
    transform: translateZ(-7.5px);
}
.text3d-layer-2:nth-child(7):after {
    transform: translateZ(-9px);
}
.text3d-layer-2:nth-child(8):after {
    transform: translateZ(-10.5px);
}
.text3d-layer-2:nth-child(9):after {
    transform: translateZ(-12px);
}
.text3d-layer-2:nth-child(10):after {
    transform: translateZ(-13.5px);
}
.text3d-layer-2:nth-child(11):after {
    transform: translateZ(-15px);
}
.text3d-layer-2:nth-child(12):after {
    transform: translateZ(-16.5px);
}
.text3d-layer-2:nth-child(13):after {
    transform: translateZ(-18px);
}
.text3d-layer-2:nth-child(14):after {
    transform: translateZ(-19.5px);
}
.text3d-layer-2:nth-child(15):after {
    transform: translateZ(-21px);
}
.text3d-layer-2:nth-child(16):after {
    transform: translateZ(-22.5px);
}
.text3d-layer-2:nth-child(17):after {
    transform: translateZ(-24px);
}
.text3d-layer-2:nth-child(18):after {
    transform: translateZ(-25.5px);
}
.text3d-layer-2:nth-child(19):after {
    transform: translateZ(-27px);
}
.text3d-layer-2:nth-child(20):after {
    transform: translateZ(-28.5px);
}
.text3d-layer-2:nth-child(n+10):after {
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}
.text3d-layer-2:nth-child(n+11):after {
    -webkit-text-stroke: 15px #BFE2FF;
    text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}
.text3d-layer-2:nth-child(n+12):after {
    -webkit-text-stroke: 15px #68baff;
}
.text3d-layer-2:last-child:after {
    -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}
.text3d-layer-2:first-child:after {
    color: #fff;
    text-shadow: none;
}
.text3d-wrap-2:hover .text3d-layer-2 {
    animation-play-state: running;
}

@media (max-width:967px) {
   #scene{
    width: 90%;
       
}
}


@media (max-width:767px) {
    .text3d-2 .text3d-layer-2:after{
        font-size: 60px;
    }
    
      #scene{
    width: 75%;
       
}
}

@media (max-width:600px) {
       #scene{
    width: 65%;
       
}
}


@media (max-width:500px) {
    .text3d-2 .text3d-layer-2:after{
        font-size: 50px;
    }
    
        #scene{
    width: 40%;
       
}
}

@media (max-width:370px) {
    
           #scene{
    width: 20%;
       
}
    .text3d-2 .text3d-layer-2:after{
        font-size: 40px;
    }
}
@keyframes text3d-anim-2 {
    0 {
        transform: rotateY(20deg) rotateX(35deg) translateZ(0);
    }
    50% {
        transform: rotateY(0) rotateX(-20deg) translateZ(0);
    }
    100% {
        transform: rotateY(-20deg) rotateX(35deg) translateZ(0);
    }
}
