.container{
    width: 100%;
    margin: 0 auto;
}

body {
    background: #19011A;
    overflow-x:hidden;
    overflow-y:hidden;
}

#scene{
    position: absolute;
}

#scene{
    width: 100%;
}

#scene div{
    position: absolute;
}

.fone-move1{
    margin-left: 73%;
    margin-top: 250px;
}

.fone-move2{
    margin-left: 53%;
    margin-top: 50px;
}
.fone-move3{
    margin-left: 83%;
}

.fone-move4{
    margin-left: 28%;
    margin-top: 230px;
}


.fone-move5{
margin-top: 100px;    
}

.fone-move6{
    margin-left: 18%;
}
.fone-move7{
    margin-top: 300px;
}
.fone-move8{
    margin-left: 58%;
    margin-top: 450px;
}
.fast-move1{
    margin-left: 31%;
    margin-top: 450px;
}
.fast-move3{
    margin-left: 68%;
}
.fast-move2{
    margin-left: 68%;
    margin-top: 450px;
}

.fast-move4{
    margin-left: 4%;
    margin-top: 200px;
}
.portfolio {
    background: radial-gradient(55.53% 33.64% at 50% 50%, rgba(255, 125, 150, 0.287806) 0%, rgba(245, 64, 137, 4e-05) 100%);
}



.portfolio {
    width: 99.9%;
    margin: 0 auto;
    position: relative;
    z-index: 10px;
}

.portfolio a {
    display: block;
    text-decoration: none;
    color: #FFEFF6;
    font-family: Archivo Black;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}

.portfolio p {
    
    color: #FFEFF6;
    font-family: Archivo Black;
    font-size: 85px;
    text-align: center;
    margin-top: 50px;
}
.portfolio a:hover {
text-decoration: underline;

}



@media (max-width:967px) {
   #scene{
    width: 90%;
       
}
}


@media (max-width:767px) {
    .text3d-2 .text3d-layer-2:after{
        font-size: 60px;
    }
    
      #scene{
    width: 75%;
       
}
}

@media (max-width:600px) {
       #scene{
    width: 65%;
       
}
}


@media (max-width:500px) {
    .text3d-2 .text3d-layer-2:after{
        font-size: 50px;
    }
    
        #scene{
    width: 40%;
       
}
}

@media (max-width:370px) {
    
           #scene{
    width: 20%;
       
}
    .text3d-2 .text3d-layer-2:after{
        font-size: 40px;
    }
}

