.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.next-item.active, .prev-item.active{
    background: #000;
}

.dots-container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;





    .dots{
width: 10px;
height: 10px;
margin-left: 10px;
margin-right: 10px;
border: 1px solid #000;
border-radius: 50px;
cursor: pointer;
color: transparent;
background: #fff;
transition: all 0.5s ease-out;
    }
    .dots.active{
      background: #000;
            }
}


.slider {
    margin: 0 auto;
    display: flex;
justify-content: center;
align-items: center;
align-items: center;
width: 200px;
height: 200px;
border: 1px solid black;
overflow: hidden;
}

.slider-item {
    
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
max-width: 200px;
transition: all 0.5s ease-out;
position: absolute;
opacity: 0;
img{
    display: block;
    width: 100%;
}
}

.slider-item.active {
position: relative;
opacity: 1 ;
display: block ;
}

.prev-item, .next-item{
    width: 100px;
    margin: 30px;
    height: 50px;
    border: 3px solid red;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

