section .ships{
    max-width: 1200px;
    margin: 0 auto;
}

.ships > h3{
    color: #ff6600;
font-family: "Giorgio Sans LC";
font-size: 36px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
/* Text style for "Лодочки -" */
letter-spacing: 1.8px;
    text-align: center;
}

.ships > p{
    width: 886px;
  color: #000000;
font-family: "Cera Pro";
font-size: 16px;
font-weight: 400;
line-height: 24px;
    text-align: center
}

/*

<div class="slider">
 <div class="container-slider">
     
     <div class="slider-item">
         <div class="img-container"> <img src="/Грузинский ресторан в Москве - современная грузинская кухня в Saperavi Cafe_files//menu-img/ships_img_four.png" alt=""></div>
         <div class="img-text-container">*/
