@import "vars";
// @import "libs";
@import "fonts";

// li {
//     list-style-type: none; /* Убираем маркеры */
//    }
// .could-business__list {
//     font-weight: 600;
// font-size: 18px;
// line-height: 30px;
// color: #000000;
// max-width: 380px;
// position: relative;
// margin-top: 20px;
// margin-left: 20px;
// &:before{
// position: absolute;
// content: '';
// width: 6px;
// height: 6px;
// margin-left: -26px;
// margin-top: 12px;
// background: #2667FF;
// }
// }



// .article {

//     &__container {
//         max-width: 930px;
//         margin: 0 auto;
//         padding-left: 20px;
//         padding-right: 20px;
//     }

//     &__autor-data {
//         display: flex;
//         justify-content: space-between;
//     }

//     &__autor {
//         font-weight: normal;
// font-size: 15px;
// line-height: 18px;
// text-transform: capitalize;
// color: #2E2E2E;
//     }

//     &__data {
//         font-weight: normal;
// font-size: 15px;
// line-height: 18px;
// text-transform: capitalize;
// color: #2E2E2E;
//     }

//     &__line {
//         width: 100%;
//         height: 1px;
//         border-bottom: 1px solid #E0E0E0;
//     }

//     &__flex-container {
//         display: flex;
//         justify-content: space-between;
//     }

//     // &__social {

//     // }

//     &__social-item {
//         width: 72px;
// height: 72px;
// border: 1px solid #E0E0E0;
// box-sizing: border-box;
// display: flex;
// justify-content: center;
// align-items: center;
//     }

//     &__img {
//         width: 10px;
//         height: 10px;
//         background: #000;
//     }

//     // &__main {
//     // }

//     &__main-title {
//         font-weight: bold;
// font-size: 32px;
// line-height: 48px;
// text-transform: capitalize;
// color: #000000;
//     }

//     &__text {
//         font-weight: normal;
// font-size: 15px;
// line-height: 28px;
// color: #2E2E2E;
//     }

//     // &__main-img {
//     // }

//     &__img-description {
//         width: 100%;
//         height: 468.4px;

//     }

//     // &__parentheses {

//     // }

//     &__parentheses-img {
//         width: 30px;
//         height: 30px;   
//         background: #000;
//     }

//     &__text-italic {
//         font-style: italic;
// font-weight: 600;
// font-size: 18px;
// line-height: 32px;
// color: #000000;
//     }

//     &__title {
//         font-weight: bold;
// font-size: 18px;
// line-height: 30px;
// text-transform: capitalize;
// color: #000000;
//     }
// }

///////// partners

.partners {

    &__container {
        max-width: 1360px;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    &__title {
        font-weight: bold;
font-size: 54px;
line-height: 82px;
color: #000000;
    }


  
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    margin-bottom: 20px;
    }

    &__item {
        
       width: 25%;
       box-shadow:
       1px 0 0 0  #E0E0E0,
      0 1px 0 0 #E0E0E0,
     1px 1px 0 0 #E0E0E0,
       1px 0 0 0  #E0E0E0 inset, 
       0 1px 0 0 #E0E0E0 inset;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &:before {
            content: "";
            padding-top: 100%;
        }
                &:hover{
                   
box-sizing: border-box;
border: 1px solid #E0E0E0;
box-shadow: 0px 43px 80px rgba(37, 90, 251, 0.08), 0px 20px 33.4221px rgba(37, 90, 251, 0.0575083), 0px 9.60461px 17.869px rgba(37, 90, 251, 0.0476886), 0px 5.38427px 10.0172px rgba(37, 90, 251, 0.04), 0px 0px 5.32008px rgba(37, 90, 251, 0.0323114), 0px -8px 2.21381px rgba(37, 90, 251, 0.0224916);
border-radius: 4px;
        }

    //     &:first-child{
    //     border-top: 1px solid #E0E0E0;
    //     border-left: 1px solid #E0E0E0;
    //     border-radius: 4px 0 0 0;
    //     box-shadow: none;
    //   }


    }   

    &__item-img {
        width: 180px;
        height: 180px;
        background: #000;
    }
}


@media(max-width :1099px) {
    .partners__item {
        width: 33.33%;
    }
}

@media(max-width :767px) {
    .partners__item {
        width: 50%;
    }
}

@media(max-width :500px) {
    .partners__item {
        width: 100%;
    }
}

@import "media";


